# Database (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/branched?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-a-random-32-byte-string"

# Google OAuth (https://console.cloud.google.com/apis/credentials)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# UploadThing (https://uploadthing.com/dashboard)
UPLOADTHING_SECRET=""
UPLOADTHING_APP_ID=""
